{% extends "base_ink.html" %}

{% block title %}{{ object.title|escape }}{% endblock %}

{% block headers %}
	{{ block.super }}
{% for category in object.categories.all %}
	<link rel="alternate" href="/feeds/ink/{{ category.slug }}.xml" title="Indelible Ink - {{ category.name|escape }}" type="application/atom+xml">
{% endfor %}
{% endblock %}

{% block content %}
<div id="ink">
<h1>{{ object.title|escape }}</h1>
<div id="date">{{ object.pub_date|date:"F j, Y" }}</div>

{{ object.content|safe }}

{% if object.commentable %}
<hr>
<script type="text/javascript">
var idcomments_acct = '3767407de4d19859c117392243121f26';
var idcomments_post_id;
var idcomments_post_url;
var idcomments_post_title = '{{ object.title|escape }}';
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
{% endif %}
</div> <!-- /ink -->
{% endblock %}
