{% extends "base_ink.html" %}

{% block title %}{{ object.title|escape }}{% endblock %}

{% block headers %}
	{{ block.super }}
{% for category in object.categories.all %}
	<link rel="alternate" href="/feeds/ink/{{ category.slug }}.xml" title="Indelible Ink - {{ category.name|escape }}" type="application/atom+xml">
{% endfor %}
{% endblock %}

{% block content %}
<div id="ink">
<h1>{{ object.title|escape }}</h1>
<div id="date">{{ object.pub_date|date:"F j, Y" }}</div>

{{ object.content|safe }}

{% if object.commentable %}
{% if debug %}
<script type="text/javascript">
var disqus_developer = 1; 
</script> 
{% endif %}
<hr>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/indelibleink/embed.js"></script><noscript><a href="http://indelibleink.disqus.com/?url=ref">View the discussion thread.</a></noscript>
{% endif %}
</div> <!-- /ink -->
{% endblock %}
