{% extends "base_ink.html" %}

{% block title %}Indelible Ink{% endblock %}
{% block headers %}
	{{ block.super }}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
{% if latest %}
<ul class="naked">
{% for entry in latest %}
<li>
<span class="date">{{ entry.pub_date|date:"d M Y" }} &raquo;</span>
<a href="{{ entry.get_absolute_url }}">{{ entry.title|escape }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% if date_list %}
<div id="archives">
	Archives:
	{% for year in date_list %}
	<a href="{% url ink_entry_archive_year year|date:"Y" %}">{{ year|date:"Y" }}</a>{%if not forloop.last %},{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endblock %}
