{% extends "base_ink.html" %}

{% load markup %}

{% block title %}Indelible Ink{% endblock %}

{% block content %}
<p>Entr{{ object_list|length|pluralize:"y,ies" }} tagged with <b>{{ tag }}</b>:</p>
<div id="ink">
{% for entry in object_list %}
<div id="e{{ entry.id }}" class="summary">
    <div class="date">{{ entry.pub_date|date:"F d, Y" }}</div>
    <div class="title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
    {{ entry.summary|restructuredtext }}
</div>
{% endfor %}
</div> <!-- /ink -->
{% endblock %}
