{% extends "base.html" %}

{% block title %}Indelible.org | About{% endblock %}
{% block section %}About Indelible.org{% endblock %}

{% block content %}
<h1>About Indelible.org</h1>
<p>
<b>Indelible.org</b> is maintained by Jon Parise as a place to publish notes,
articles, and projects.
</p>

<h2>Colophon</h2>
<p>
This site is built upon a stack of open source technologies:
<ul>
<li>A Linux-based VPS "slice" from <a href="http://www.slicehost.com/">Slicehost</a></li>
<li>The <a href="http://httpd.apache.org/">Apache Web Server</a></li>
<li>The <a href="http://www.python.org/">Python Programming Language</a></li>
<li><a href="http://www.postgresql.org/">PostgreSQL</a>: The world's most advanced open source database</li>
<li><a href="http://www.djangoprogect.com/">Django</a>: The Web framework for perfectionists with deadlines</li>
</ul>
</p>

{% endblock %}
