{% extends "base.html" %}

{% block title %}Indelible.org | About{% endblock %}
{% block section %}About Indelible.org{% endblock %}

{% block content %}
<h1>About Indelible.org</h1>
<p>
<b>Indelible.org</b> is maintained by Jon Parise as a place to publish notes,
articles, and projects.
</p>

<h2>Biography</h2>
<p>
Jon Parise is senior software engineer at <a href="http://www.ea.com/">Electronic Arts</a>.  He has worked on a number of titles, including <a href="http://en.wikipedia.org/wiki/The_Sims_Online">The Sims Online</a> and <a href="http://en.wikipedia.org/wiki/Ultima_online">Ultima Online</a>, and is currently working on <a href="http://en.wikipedia.org/wiki/The_Sims_3">The Sims 3</a>.
</p>
<p>
He has been active in a number of open source projects, including <a href="http://www.php.net/">PHP</a>, <a href="http://pear.php.net/">PEAR</a>, and <a href="http://www.horde.org/">The Horde Project</a>.  He also thinks that <a href="http://www.python.org/">Python</a> is the <a href="http://en.wiktionary.org/wiki/bee%27s_knees">bee's knees</a>.
</p>
<p>
Selected print publications include:
</p>
<ul>
	<li><a href="http://www.amazon.com/Beginning-Databases-PostgreSQL-Richard-Stones/dp/1861005156/">Beginning Databases with PostgreSQL</a> &mdash; <i>technical reviewer</i></li>
	<li><a href="http://www.amazon.com/Professional-PHP4-Programming-Deepak-Thomas/dp/1861006918/">Professional PHP4 Programming</a> &mdash; <i>contributing author</i></li>
	<li><a href="http://www.amazon.com/Massively-Multiplayer-Game-Development-v/dp/1584503904/">Massively Multiplayer Game Development 2</a> &mdash; <i>contributing author</i></li>
</ul>
<p>
Jon earned a bachelors degree in <a href="http://www.it.rit.edu/">Information Technology</a> from the <a href="http://www.rit.edu/">Rochester Institute of Technology</a> and a masters degree in <a href="http://www.etc.cmu.edu/">Entertainment Technology</a> from <a href="http://www.cmu.edu/">Carnegie Mellon University</a>.
</p>

<h2>Colophon</h2>
<p>
This site is built upon a stack of open source technologies:
</p>
<ul>
<li>A Linux-based VPS "slice" from <a href="http://www.slicehost.com/">Slicehost</a></li>
<li>The <a href="http://httpd.apache.org/">Apache Web Server</a> with <a href="http://code.google.com/p/modwsgi/">mod_wsgi</a></li>
<li>The <a href="http://www.python.org/">Python Programming Language</a></li>
<li>The <a href="http://www.vim.org/">Vim</a> text editor</li>
<li>The <a href="http://www.selenic.com/mercurial/">Mercurial</a> distributed version control system</li>
<li><a href="http://www.postgresql.org/">PostgreSQL</a>: The world's most advanced open source database</li>
<li><a href="http://www.djangoproject.com/">Django</a>: The Web framework for perfectionists with deadlines</li>
<li><a href="http://www.bitbucket.org/jparise/django-ink/">Django Ink</a>: A simple blog-like publishing application for Django</li>
<li><a href="http://docutils.sourceforge.net/">Docutils</a>: Text processing and rendering using <a href="http://docutils.sourceforge.net/rst.html">reStructuredText</a></li>
<li><a href="http://pygments.org/">Pygments</a>: A generic syntax highlighter</li>
</ul>

{% endblock %}
