<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>{% block title %}Indelible.org{% endblock %}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="en-us">
	<meta name="author" content="Jon Parise">
	<meta name="ROBOTS" content="ALL">
	<meta name="MSSmartTagsPreventParsing" content="true">

	<link rel="stylesheet" type="text/css" media="screen" href="/m/base.css">
	{% if debug %}<link rel="stylesheet" type="text/css" media="screen" href="/m/debug.css">{% endif %}
{% block headers %}{% endblock %}
</head>

<body id="indelible">

<div id="container">

<div id="header">
<div id="nav">
<ul>
	<li><a href="/ink/">ink</a></li>
	<li><a href="/projects/">projects</a></li>
	<li><a href="/feeds/">feeds</a></li>
	<li><a href="/about/">about</a></li>
</ul>
<span id="site"><a href="/">Indelible.org</a></span>
<span id="section">&ndash; {% block section %}{% endblock %}</span>
</div>
</div> <!-- /header -->

{% block content %}{% endblock %}

<div id="footer">
Copyright &copy; 1999-2009 by <a href="/about/">Jon Parise</a>.
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Some rights reserved.</a>
</div> <!-- /footer -->

</div> <!-- /container -->

{% if debug %}
<div id="debug">
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('querytable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="querytable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr>
      <td>{{ forloop.counter }}</td>
      <td><tt>{{ query.sql|escape }}</tt></td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if not debug %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6933602-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}

</body>
</html>
