{% extends "base.html" %}

{% load inklings %}

{% block headers %}
	<link rel="alternate" href="/feeds/ink/" title="Indelible Ink" type="application/atom+xml">
	<link rel="me" href="http://en.wikipedia.org/wiki/User:Jparise">
	<link rel="me" href="http://www.flickr.com/photos/jparise/">
	<link rel="me" href="http://twitter.com/jparise">
	<link rel="me" href="http://www.last.fm/user/jparise">
	<link rel="me" href="http://delicious.com/jparise">
	<link rel="me" href="http://upcoming.yahoo.com/user/33240/">
	<link rel="me" href="http://www.advogato.org/person/parise/">
	<link rel="me" href="http://friendfeed.com/jparise">
{% endblock %}

{% block section %}Welcome{% endblock %}

{% block content %}
{% get_latest_entries 10 as latest %}
<ul class="naked">
{% for entry in latest %}
<li>
<span class="date">{{ entry.pub_date|date:"d M Y" }} &raquo;</span>
<a href="{{ entry.get_absolute_url }}">{{ entry.title|escape }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
