{% extends "base.html" %}

{% block title %}Indelible.org | Projects{% endblock %}
{% block section %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<div id="projects">

<div id="pear-fsm" class="project">
	<h3><a href="http://www.indelible.org/php/FSM/">PEAR FSM Package</a></h3>
	<p>The FSM package implements a Finite State Machine. In addition to maintaining state, this FSM also manages a user-defined payload, therefore effectively making the machine a Pushdown Automaton (a finite state machine with memory).</p>
</div>

<div id="pear-log" class="project">
	<h3><a href="http://www.indelible.org/php/Log/">PEAR Log Package</a></h3>
	<p>The Log package provides an abstracted logging framework. It includes output handlers for log files, databases, syslog, email, Firebug, and the console. It also provides composite and subject-observer logging mechanisms.</p>
</div>

<div id="pear-net-smtp" class="project">
	<h3><a href="http://www.indelible.org/php/Net_SMTP/">PEAR Net_SMTP Package</a></h3>
	<p>The Net_SMTP package provides an implementation of the SMTP protocol using PEAR's Net_Socket class.</p>
</div>

<div id="pecl-perforce" class="project">
	<h3><a href="http://www.indelible.org/php/perforce/">PECL Perforce Package</a></h3>
	<p>The Perforce Extension for PHP wraps the public Perforce C/++ API, giving PHP developers direct access to Perforce's native client functions.</p>
</div>

<div id="pecl-python" class="project">
	<h3><a href="http://www.indelible.org/php/python/">Python in PHP</a></h3>
	<p>The Python extension allows the Python interpreter to be embedded inside of PHP, allowing for the instantiate and manipulation of Python objects from within PHP.</p>
</div>

<div id="pecl-sasl" class="project">
	<h3><a href="http://www.indelible.org/php/sasl/">PECL SASL Package</a></h3>
	<p>The SASL Extension for PHP makes the Cyrus SASL library functions available to PHP. It aims to provide a 1-to-1 wrapper around the SASL library to provide the greatest amount of implementation flexibility. To that end, it is possible to build both a client-side and server-side SASL implementation entirely in PHP.</p>
</div>

</div> <!-- /projects -->
{% endblock %}
